body {font-family: 'Roboto', sans-serif}

.top-navigation {background-color: #fff;
margin-top: 0em;
position: fixed;
width: 100%;}

.top-navigation > .content {
width: 95%;
height: 71px; margin: 0 auto;}

.top-navigation .links {float: right;
color: #838994;
font-size: 16px;
margin-top: 25px;}

.top-navigation .links li {
display: inline-block;
margin-left: 25px;}

.top-navigation .logo {margin-left: 25px;}

.top-navigation .links .active {
color: #4c5058;
font-weight: 500;}

.top-navigation .links li:hover {
    cursor: pointer;
    color: #4c5058;
    font-weight: bold;}

.introduction {background-image: url(../images/first-background.jpg);
background-size: cover;
height: 500px;
color: white;
text-align: center;}

.introduction a {
text-decoration: none;
color: white;
background-color: #D2691E;
display: inline-block;
padding: 1em;
border-radius: 1em;
font-size: 22px;
}

.introduction p {
font-size: 22px;
padding-bottom: 20px;
}

.introduction h1 {
padding-top: 150px;
font-size: 42px;
margin-top: 0em;
}

.cases {
padding-top: 50px;
font-size: 22px;
text-align: center;
}

.devices > li {
display: inline-block;
width: 33.3333%;
}

.devices {padding-left: 0em}

.social .icons > li {display: inline-block;
border-radius: 1em;
    width: 2.5rem;
    border: 1px solid #D2691E;
    padding: 0.625rem 0;
    text-align: center;}

.social {text-align: center;
margin-left: 200px;
margin-right: 200px}

.icons {padding-left: 0em;
color: #D2691E;}

